# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Explore common libraries used in Data Science
- Understand the importance of development environments in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Nump
2. Pandas
3. Matplotlib

|Data Science Tools|
|------|
|Jupyter Notebook|
|RStudio|
|VS Code||

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers:

In [11]:
result = (3*4)+5
print(result)

17

This will convert 200 minutes to hours by diving by 60:

In [16]:
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Yassine Bouzidi